<%- include('./includes/head.ejs') %>
</head>

<body>
   <%- include('./includes/navigation.ejs') %>
   
        <div class=" container">
            <p>Số giờ đã làm hôm nay:</p>
             <div>
                 <p>Giờ bắt đầu:  Nơi làm việc()</p>
                 <p>Giờ kêt thúc: Nơi làm việc()</p>
             </div>
        <div class="row">
            

        </div>
    </div>
<%- include('./includes/end.ejs') %>